.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.Home h1 {
    margin-bottom: -0.5em;
}

.Home-titles {
    text-align: center;
    color: #505252;
}

.Home button {
    width: 214px;
    margin: 5px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #1DA1F2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

.Home button:active {
    background-color:#2379af;
}