#ErrorModal-container {
    width: 300px;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.ErrorIcon {
    color: #d95766;
    margin-bottom: -3px;
}

.ErrorModal-close {
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    color: #d95766;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}