.ChirpForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChirpForm button {
    width: 100px;
    margin: 20px 0;
    padding: 3.5px 20px;
    border-style: none;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #1DA1F2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }

  .ChirpForm button:active {
    background-color:#2379af;
  }

.chirp-input {
    padding: .5rem;
    font-size: 16px;
    /* width: 100%; */
    display: block;
    /* border-radius: 4px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
  }

  .chirp-input:focus {
    border-color: #1DA1F2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
  }

  .error {
    color: red;
}

  .chirp-input.error {
    border-color: red;
  }