@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.Chirp {
    margin: auto;
    margin-top: 1em;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    padding: 1em;
    max-width: 650px;
    min-width: 350px;
}

.Chirp a{
    text-decoration: none;
}

.Chirp-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

#Chirp-text {
    color: #505252;
    text-align: left;
    font-weight: normal;
}

.top {
    width: 100%;
}

.top a{
    font-weight: bold;
    color: #505252;
}

.top a:hover {
    text-decoration: underline;
}

.Chirp-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.Chirp img {
    border-radius: 50%;
}

.Chirp .top {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.Chirp-picture {
    margin-right: 1em;
}

.Chirp-username {
    margin-right: 1em;
}

.username-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Chirp button {
    padding: 0;
    border-style: none;
    border-radius: 5px;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #b3b3b3;
    cursor: pointer;
    outline: none;
    margin-left: 3em;
    -webkit-appearance: none;
}

.Chirp button:hover {
    color: #1DA1F2;
}

.Chirp-reply:active {
    color: #1DA1F2;
}

.Chirp-remove:active {
    color: #1DA1F2;
}

#liked {
    color: #d95766;
    animation: bounce 1s;
}
